.header {
    background-image: url("../../resources/images/slider1.jpg");
    background-size: cover;
    background-position: top;
    height: 80rem;
    position: relative;

    .navbar {

        .navbar-brand {
            padding: 1rem 1.5rem;
            font-size: 1.7rem;
        }   
    }

    .navbar-light {

        .navbar-nav {
            font-size: 1.6rem;

                .nav-link {
                    padding: 0 2rem;
                }
        }
}

    &__logo {
        height: 5rem;
        margin-right: 1rem;
    }

    &__nav {

        &--language {
            
            img {
                height: 2rem;
            }
        }
    }

    &__title {
        color: #fff;
        position: absolute;
        top: 45%;
        left: 50%;

        h1 {
            transform: translate(-50%);
            font-weight: bold;
            font-size: 3.5rem;
        }  
    }
}